.env
**/.env
venv/
__pycache__/
chroma_db/
*.pyc
cti/
*.zip
*.db
outputs/
data/
validation-output/
services/misp-docker/.git/
services/misp-docker/configs/
services/misp-docker/files/
services/misp-docker/gnupg/
services/misp-docker/logs/
services/misp-docker/ssl/
